.small {
    font-size: 0.9em;
}

.smaller {
    font-size: 0.8em;
}

.extra-small {
    font-size: 0.5em;
}

.education-info-container {
    margin: 0 0 30px 0;
}

article {
    border-radius: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#main {
    border-radius: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.main-desc-icon {
    text-decoration: none;
    cursor: pointer;
    color: #aaa;
    font-size: 0.9em;
}

.main-desc-icon:hover {
    color: #333;
}

body.dark .main-desc-icon:hover {
    color: #64B5F6;
}

.icon i {
    font-size: 0.8em;
}

.icon-link {
    text-decoration: none;
    color: #2196F3;
}

.icon-link:hover {
    color: #0277BD;

}

.img-box {
    height: 250px;
    background-size: cover !important;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.img-overlay {
    cursor: default;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 75px 5px 90px 5px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
}

.img-overlay a {
    text-decoration: none !important;
    color: #2196F3 !important;
}

.img-overlay img {
    height: 50px;
    margin-right: 5px;
}

.img-overlay .flex-container {
    margin-top: 6px;
}


.img-overlay .flex-container img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.img-box:hover .img-overlay {
    opacity: 1;
}


.img-mask {
    font-family: Helvetica;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.85);
    font-size: 17px;
}

.img-box-footer {
    /* background-color: darkgray; */
    color: #fff;
    overflow: hidden;
    padding: 2%;
    /* box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45); */
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.img-box-footer a {
    text-decoration: none !important;
    color: #000 !important;
}

.img-box-footer a:hover {
    color: #2196F3 !important;
}


.proj-container {
    display: none;
}

@media (max-width: 736px) {
    .proj-container {
        display: block;
    }

    .proj-container-list {
        display: none;
    }
}

/* list view */
.proj-component-list a {
    text-decoration: none;
}

.img-box-small {
    display: inline-block;
    height: 70px;
    min-width: 70px;
    background-size: cover !important;
    border-radius: 50px 50px;
    /* background: url("/images/storymap_demo.png"); */

    overflow: hidden;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


.proj-description-container {
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
}

.proj-description-text {
    width: 100%;
}

.proj-list-name a {
    /* color: rgba(0,0,0,0.93); */
    color: #2962FF;
    font-size: 1.05em;
}

.proj-list-tag-container {
    display: inline-block;
    text-align: center;
}

.proj-list-tag {
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0px 3px;
}

.proj-list-tag.tag0 {
    background-color: #BBDEFB;
}

.proj-list-tag.tag1 {
    background-color: #FFF59D;
}

.proj-list-tag.tag2 {
    background-color: #c8e6c9;
}

.proj-list-tag.tag3 {
    background-color: #B2EBF2;
}

.proj-list-tag.tag4 {
    background-color: #FFCDD2;
}

.proj-list-tag.tag5 {
    background-color: #FFE0B2;
}

.proj-list-tag.tag6 {
    background-color: #E1BEE7;
}

.proj-list-title {
    margin-bottom: 3px;
}

.proj-list-description-info {
    font-size: 0.85em;
    line-height: 1.5em;
    width: 100%;
    color: #555555;
}

.proj-list-links {
    display: inline-block;
    float: right;
    height: 30px;
}

.proj-list-links a {
    text-decoration: none;
}

.proj-list-links img {
    height: 33px;
}

.proj-list-links img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.table-responsive {
    width: 100%;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table p {
    margin-bottom: 1.1em;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-space {
    justify-content: space-between;
}



.center-row {
    text-align: center;
    width: 100%;
}

.table div {
    margin-bottom: 2px;
}

.proj-container-list.template {
    display: none;
}

.award-title {
    font-size: 21px;
    font-weight: 500;
    color: #000;
}

.info-text {
    color: #000;
}

.contact-icon {
    height: 80px;
}

.contact-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.contact-container a {
    text-decoration: none !important;
    color: #000 !important;
}

.contact-container a:hover,
.contact-container a.hovered {
    color: #2196F3 !important;
}

.scroll2top {
    cursor: pointer;
    background-color: #FFC400;
    /* button color */
    color: white;
    /* text/arrow color */
    display: none;
    text-align: center;
    z-index: 999;
    /* float in bottom right corner */
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 45px;
    height: 45px;
    padding-top: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* round button */
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.scroll2top i {
    position: absolute;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
}

#preload-area {
    background: url(/assets/css/images/bg_dark.png);
    display: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -45px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.w-72 {
    width: 72px !important;
    height: 72px !important;
    font-size: .85em
}

.w-32 {
    width: 32px !important;

}

.w-40 {
    width: 40px !important;

}

.w-50 {
    width: 50px !important;
}

.tl-item .avatar {
    z-index: 2
}

.circle {
    border-radius: 500px
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, .15);
    padding: 0;
    margin: 0
}

/* .timeline-img {
    width: 72px !important;
} */

.p-4 {
    padding: 1.5rem !important
}



.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex
}

.tl-item>* {
    padding: 10px
}

.tl-item .avatar {
    z-index: 2
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

/* .tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
} */

/* .tl-dot:after,
.tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
} */

.tl-content p:last-child {
    margin-bottom: 0
}

.tl-date {
    font-size: .85em;
    margin-top: 2px;
    min-width: 100px;
    max-width: 100px
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15);
    background-color: #fff;
}

.text-normal {
    color: #555;
}

.main-header {
    margin-bottom: 0px;
}

.main-header-left-container {
    /* flex-basis: 66.66%; */
    max-width: 350px;
}

.main-header-right-container {}

.main-hr-line {
    width: 60%;
    margin: auto;
}

.main-desc {
    font-size: 1.1em;
}

.main-desc-icon {
    font-size: 1.3em;
}

/* desktop */
@media screen and (min-width: 737px) {
    .main-timeline {
        width: 80%;
        margin: auto;
    }
}

/* phone */
@media screen and (max-width: 737px) {
    #wrapper {
        background-image: url("images/overlay.png"), url("images/bg_color.jpg");
        background-repeat: repeat, no-repeat;
        background-size: auto, 100% 100%;
    }
}

.main-img {
    border-radius: 100%;
    width: 10vh;
}

.main-img-container {
    margin-left: 30px;
    margin-top: -1vh;
}